* {
    margin: 0;
}
#cityname {
    font-size: 35px;
}
#title {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    background-color: #1890f0;
    margin-top: 40%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    width: 100%;
    height: 100%;
    
}
.grid1 {
    background-color: #1890f0;
}
.grid2 {
    margin-left: 10%;
    margin-top: 15%;
    background-size: cover;
    font-family: sans-serif;
}
#searchcontainer {
    margin-top: 10%;
}
#temperature {
    font-size: 2em;
    font-weight: bold;
}
#unitf:hover {
    
    color: rgb(0, 204, 255);
}
#unitc:hover {
    
    margin-inline-start: 2px;
    color: rgb(0, 204, 255);
}
sup {
    cursor: pointer;
}
h1 {
    color: #ffffff;
}
#app {
    color: black;
}
